page-create-user {

    .input-cover { position: static!important; }

    ion-title{
        .toolbar-title .toolbat-title-md{
            text-transform: uppercase;
            color: map-get($colors, secondary);
        }
    }

    ion-label{
        text-transform: uppercase;
    }

    .select-ios .select-icon .select-icon-inner,
    .select-md .select-icon .select-icon-inner,
    .select-wp .select-icon .select-icon-inner{
        color: white;
    }

    .user-role{
        margin-top:7%;
    }

    .background, .background .pane, .background .item, .background .item-complex .item-content{
        background-color: map-get($colors, secondary);
        color: white;
        margin-top: 2%;
    }

    .item-ios, .item-md, .item-wp{
        border-bottom: 2px solid white;
        width: 87%;
        margin-left: 7%;
    }

    #create-user{
        border: none;
        background: #fff;
        color: map-get($colors, secondary);
        margin-top: 15%; 
        @include create-btn;    
    }

    #create-admin{
        border-bottom: none;
        font-size: 90%;
        margin-top: 5%;
    }

    .select-md,
    .select-ios,
    .select-wp{
       padding:0px 0px 0px 0px!important;
       font-size:90%;
    }

    div .alert-title{
        color: map-get($colors, secondary)!important;
    }

    .invalid-style{
        color: hsl(0, 100%, 76%);
    }

}

// *******************
// TABLET DESIGN START

@media (min-width: 768px) and (max-width: 1024px) {

    page-create-user {
    
        .item-ios, .item-md, .item-wp{
            border-bottom: 4px solid white;
            font-size: 220%;
            margin-top:10%!important;
        }

        #create-user{
            font-size: 250%!important;
            margin-top: 20%!important;
        }

    }

}

// *******************
// TABLET DESIGN END