page-login {

    ion-content{

        ion-icon{
            margin-right: 5%;
            padding: 2.5% 4%;
            color: map-get($colors, secondary);
            background: white;
            border-radius:3px;
        }
    }
    
    .main-buttons div button{
        margin-top: 15%;
        background: map-get($colors, primary);
        padding: 0% 5%;            
    }
    
    .admin-btn{
        margin-left: 3%;
        margin-top: 12%;
        background:map-get($colors, primary);
    } 
    
}



