page-login {

    ion-content{
        @include gradient-home;

        ion-icon{
            padding-right: 10px;
        }
    }
    
    .main-buttons div button{
         margin-top: 15%;
         background: rgba(123, 215, 233, 0.5);
        
    }
    
    #admin-btn01{
        margin-left: 3%;
        margin-top: 12%;
        background: rgba(123, 215, 233, 0.5);
    }          
    
}



