page-login {

    ion-content{
        @include gradient-home;

        ion-icon{
            padding-right: 10px;
        }
    }
    
    .main-buttons div button{
         margin-top: 15%;
    }  

    #admin-btn01{
        margin-left: 3%;
        margin-top: 12%;        
    }

    #admin-btn02{
        margin-left: 3%;
        margin-top: 12%;
    }

}
