page-forgot-password {

    .input-cover { position: static!important; }

    @include home-style;

    ion-content{

        p{
            color: white;
        }

        h1{
            text-align: center;
            color: white;
            padding-top: 20%;
        }

        #lock-icon{
            color:white;
            font-size: 120px;
        }

    }

    form{

        .custom-input{
            width: 85%;
            border-top: none;
            border: 2px solid white;
            border-radius: 5px;
            background: none;
            color: white;
            margin-left: 7%;
    
            .item.item-input span{width:auto;}
            .item.item-input input{width:85%;  margin-top: none;}
            
          }

    }

    .home-btn{
    
        @include home-btn;
        margin-top: 10%;

    }


}