page-forgot-password {

    .input-cover { position: static!important; }

    @include home-style;

    ion-content{

        p{
            color: white;
        }

        h1{
            text-align: center;
            color: white;
            padding-top: 20%;
        }

        #lock-icon{
            color:white;
            font-size: 120px;
        }

    }

    form{

        .custom-input{
            width: 85%;
            border-top: none;
            border: 2px solid white;
            border-radius: 5px;
            background: none;
            color: white;
            margin-left: 7%;
    
            .item.item-input span{width:auto;}
            .item.item-input input{width:85%;  margin-top: none;}
            
          }

    }

    .home-btn{
    
        @include home-btn;
        margin-top: 10%;

    }


}

 // *******************
// TABLET DESIGN START

@media (min-width: 768px) and (max-width: 1024px) {
    
    page-forgot-password {
    
        h1, p, h1, #lock-icon, form, ion-buttons{
            position: relative;
            top: -15%;
        }

        ion-content{

            h1{
                font-size: 250%;
            }
    
            #lock-icon{
                font-size: 200px;
            }

            p{
                font-size: 130%;
                width:90%;
                left:6%;
                top: -10%;
            }

            .custom-input{
                font-size: 180%;
                margin-top: 7%;
            }

            .home-btn{
                width: 30%;
                padding: 5% 0%;
                font-size: 130%;
            }

        }
            
    }
}    
// *******************
// TABLET DESIGN END