page-dashboard {
    ion-header {
        color: white!important;
        ion-icon,
        ion-title {
            color: white;
        }
    }
    ion-content {
        ion-icon {
            color: map-get($colors, secondary);
            border-radius: 2px;
            width: 18%;
            background: white;
            line-height: 1.5em;
            position: absolute;
            left: 4.5%;
        }
    }
    .main-buttons div button {
        margin-top: 8%;
    }
    .main-buttons button {
        width: 65%;
    }
    .main-buttons .admin-btn {
        width: 70%;
        margin-left: 2%;
        margin-top: 5.5%;
    }
    span {
        margin-left: 5%;
    }
    .main-buttons button {
        background: map-get($colors, primary);
        &:hover,
        &:active,
        &:focus {
            background: map-get($colors, secondary);
            @include basic-transition;
        }
    }

    .upcoming-events{
        background: map-get($colors, bg-gray );
        border: 1px solid map-get($colors, secondary);
        margin-top: 5%;
        padding: 3.5%;
        margin: none!important;
        overflow-y: scroll;

        ion-title .toolbar-title{
            font-size: 115%;
            color: map-get($colors, secondary);
            text-align:left;
            letter-spacing: .3px;
        }

        .main-hr{
            width:95%;
            border-bottom: 1px solid map-get($colors, secondary-light);
        }
    }

    .schedule-list{
        @include schedule-list;
        ion-icon{
            background: transparent;
            color: white;
        }
    }
}