page-make-room {

    ion-title{
        .toolbar-title .toolbat-title-md{
            text-transform: uppercase;
            color: map-get($colors, primary);
        }
    }

    .background, .background .pane, .background .item, .background .item-complex .item-content{
        background-color: map-get($colors, primary);
        color: white;
        margin-top: 2%;
    }

    ion-label{
        text-transform: uppercase;
    }

    .item-ios, .item-md, .item-wp{
        border-bottom: 2px solid white;
        width: 80%;
        margin-left: 10%;
    }

    .input-cover { position: static!important; }

    ion-textarea{
        border: 2px solid white;
        border-radius: 5px;
        padding: 10%;
    }

    #create-room{
        background: #fff;
        color: map-get($colors, primary); 
        @include create-btn;       
    }

    .invalid-style{
        width: 90%;
        padding-left: 10%;
    }

    // manage rooms style

    .manage-rooms{
        background: transparent!important;
        box-shadow: none!important;      
        ion-card-header{
            color: white;
            text-align: center;
            font-size: 140%;
            border: 2px solid white;
            border-radius: 3px;
            width: 60%;
            margin: 5% 0% 5% 22%;
        }

        ion-list{
            color: white;
            ion-item ion-icon, h2, p{
                color: white;
            }
        }
    }

}

// *******************
// TABLET DESIGN START

@media (min-width: 768px) and (max-width: 1024px) {
    
    page-make-room {
    
        .item-ios, .item-md, .item-wp{
            border-bottom: 4px solid white;
            font-size: 220%;
            margin-top:10%!important;
        }

        #create-room{
            font-size: 250%!important;
            margin-top: 10%!important;
        }

        ion-textarea{
            border: 4px solid white;
        }

        .room-description{
            position: relative;
            top: 15%;
            left:5%;
        }
    
    }
}

// *******************
// TABLET DESIGN END