page-my-profile {
    ion-title {
        text-transform: uppercase;
    }
    .uploader input {
        display: none;
    }
    .uploader {
        -webkit-align-items: center;
        align-items: center;
        border: 2px solid map-get($colors, primary);
        border-radius: 50%;
        cursor: pointer;
        display: -webkit-flex;
        display: flex;
        width: 150px;
        height: 150px;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;
        bottom: 1px;
    }
    .uploader img,
    .uploader .icon {
        pointer-events: none;
        width: 100%;
        height: 100%;
    }
    .uploader,
    .uploader .icon {
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        -ms-transition: all 100ms ease-in;
        -o-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
    }
    .uploader .icon {
        color: map-get($colors, primary);
        font-size: 4em;
    }
    .uploader img {
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        border-radius: 100%;
        @include basic-transition;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .uploader img.loaded {
        opacity: 1;
        z-index: 3;
    }
}