
page-home {

    .input-cover { position: static!important; }
 
    ion-content{
      @include gradient-bg;
    }

    img{
      width: 60%;
      margin-top:10%;
    }

    ion-input .text-input{
       color: white;
       border-bottom: 1px solid white;
       padding: 5% 0%;
     }

    form{

      .list-ios .item-block .item-inner,
      ion-item .item-md .item-input,
      ion-item .item-ios .item-input,
      .item-block{
        color: white;
        border-top: none;
      }

      .list-ios .item-block,
      .list-md .item-block{
        margin-left: 20%;
        border-bottom: none;
        border-top: none;
      }

      .item-input .label-md{
        color: white;
      }

      .custom-input{
        width: 60%;
        border-top: none;
        background: none;
        color: white;

        .item.item-input span{width:auto;}
        .item.item-input input{width:60%;  margin-top: none;}
        
      }
    }
    
    .login-btn{
      background: white;
      border-radius: 3px;
      color: map-get($colors, primary);
      width: 55%;
      padding: 5% 0%;
      font-size: 120%;
      letter-spacing: 1px;

      &:hover,
      &:active{
        color: map-get($colors, secondary);
        @include basic-transition;
      }
    }
    
    p a{
      color: rgba(white, .75);
      text-decoration: none;

      &:hover{
        @include basic-transition;
        color: white;
      }
    }
  
  }
