
page-home {

  .input-cover { position: static!important; }

  @include home-style;

  img{
    width: 60%;
    margin-top:10%;
  }

  form{

    .custom-input{
      width: 60%;
      border-top: none;
      background: none;
      color: white;

      .item.item-input span{width:auto;}
      .item.item-input input{width:60%;  margin-top: none;}
      
    }

  }
    
    .login-btn{

      @include home-btn;

      width: 55%;
      padding: 5% 0%;
      font-size: 120%;

    }
    
    p a{
      color: rgba(white, .8);
      text-decoration: none;
      cursor: pointer;

      &:hover{
        @include basic-transition;
        color: white;
      }
    }

    .password-eye{
      color: rgba(white, .85);
      background: transparent;
      position: absolute;
      left: 77%;
      margin-top:3%;

      // .icon-wp{
      //   position: absolute;
      //   bottom: 40px;
      //   color: white;
      //   z-index: 20;
      // }
    }
  
  }

  // *******************
    // TABLET DESIGN START

    @media (min-width: 768px) and (max-width: 1024px) {

      .list-ios .item-block .item-inner,
      ion-item .item-md .item-input,
      ion-item .item-ios .item-input,
      .item-block{
        font-size: 200%;

    }

    // *******************
    // TABLET DESIGN END
  }