page-manage-users {

    ion-searchbar {
        border-radius: 5px;
        width: 90%;
        margin: 5% 0% 0% 5%;
    }
    ion-list {
        border: 2px solid map-get($colors, secondary);
        border-radius: 7px;
        width: 90%;
    }
    .background,
    .background .pane,
    .background .item,
    .background .item-complex .item-content {
        background-color: white;
        color: white;
    }
    .list-md,
    .list-ios,
    .list-wp {
        margin-left: 5%;
    }
    .item-md,
    .item-ios,
    .item-wp {
        padding: none;
        margin: 4% 0% 0% 7%;
        width: 85%;
        border-bottom: 2px solid map-get($colors, secondary);
    }
    .list-ios .item-block:last-child,
    .list-md .item-block:last-child {
        border-bottom: none;
    }
    .item-md,
    .item-ios,
    .item-wp {
        h2 {
            color: map-get($colors, secondary);
            font-size: 1.5rem;
            font-weight: bold;
        }
        p {
            color: map-get($colors, secondary);
        }
    }
    #delete-user:hover,
    #delete-user:active,
    #delete-user:focus {
        color: map-get($colors, primary-hover);
        outline: none;
        @include basic-transition;
    }
}


// *******************
// TABLET DESIGN START

@media (min-width: 768px) and (max-width: 1024px) {

    page-manage-users{

        ion-searchbar{

            margin-bottom: 3%;

            .searchbar-input{
                font-size:250%!important;
                padding-top: 25px!important;
                padding-bottom: 25px!important;
            }

            div .searchbar-search-icon{
                //!!!!!!!!!!!!!!!
                // FIX THIS
                // !!!!!!!!!!!!!!
                display:none!important;
            }
        }
       
        ion-list {
            border: 4px solid map-get($colors, secondary);
        }

        .item-md,
        .item-ios,
        .item-wp {
            border-bottom: 4px solid map-get($colors, secondary);
            padding: 3% 0% 4% 0%;
            p, h2{
                font-size: 200%!important;
            }
            button{
                font-size: 130%!important;
            }
            ion-avatar ion-img, ion-avatar img{
               width: 80px;
               height: 80px;
            }

        }

    }

}


// *******************
// TABLET DESIGN END