// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$font-family: 'Open Sans', sans-serif;



// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
::-ms-scrollbar {
  display: none;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #24C6DC,
  secondary:  #6280B7,
  secondary-hover: #7194C6,
  bg-gray: #f7f7f7,
  text-color: #C7C7C7,
  light:      #f4f4f4,
  dark:       #292929
);


button{
  cursor: pointer;
}

// default highlight of input fields overwritten
$text-input-md-highlight-color-invalid:  map-get($colors, danger);
$text-input-md-highlight-color-valid:  none;
$text-input-md-show-invalid-highlight:  map-get($colors, danger);
$text-input-md-highlight-color:  none;
$text-input-md-show-valid-highlight:  none;
$label-md-text-color:	none;
$label-md-text-color-focused: none;
$list-ios-border-color: transparent;
$list-md-border-color: transparent;
$input-wp-border-color:none;
$text-input-wp-highlight-color-valid: none;
$text-input-wp-highlight-color:  none;
$label-wp-text-color:	none;
$label-wp-text-color-focused: none;

$toolbar-ios-title-font-weight: 500;

.toolbar-title{
  text-transform: uppercase;
  text-align: center;
}

.toolbar-title-md,
.toolbar-title-wp{
  margin-right: 15%;
}


//custom gradient

@mixin gradient-bg{
  background: rgba(181,244,255,1);
  background: -moz-linear-gradient(top, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181,244,255,1)), color-stop(50%, rgba(45,209,227,1)), color-stop(99%, rgba(98,230,245,1)), color-stop(100%, rgba(98,230,245,1)));
  background: -webkit-linear-gradient(top, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
  background: -o-linear-gradient(top, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
  background: -ms-linear-gradient(top, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
  background: linear-gradient(to bottom, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
}


//basic transitions

@mixin basic-transition{
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  transition: all 250ms;
}


// @mixin white-shadow{
//   box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
//   -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
//   -moz-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
//   -ms-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
// }

//button style

@mixin button-style{
    border-radius: 7px;
    border: 2px solid map-get($colors, secondary);
    color: map-get($colors, secondary);
    background: white;
    &:hover,
    &:active{
        background: map-get($colors, secondary);
        color: white;
        border: 2px solid white;
        @include basic-transition;
}
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


@mixin shadow-2dp{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin shadow-8dp{
   box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),                   0 3px 14px 2px rgba(0, 0, 0, 0.12),                   0 5px 5px -3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  
}



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
