// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$font-family: 'Open Sans', sans-serif;



// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
::-ms-scrollbar {
  display: none;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #24C6DC,
  primary-hover: #53D7E9,
  secondary:  #6280B7,
  secondary-hover: #7194C6,
  secondary-light: rgb(142, 169, 214),
  bg-gray: #f7f7f7,
  text-color: #ACACAC,
  danger: rgb(255, 96, 96),
  light:      #f4f4f4,
  dark:       #292929,
  make-room : (
    base: #fff,
    contrast: #24c6dc,
  ),
  create-users : (
    base: #fff,
    contrast: #6280B7,
  )

);


button{
  cursor: pointer;
}

//invalid value style

.invalid-style{
  color:map-get($colors, danger);
  font-size: 105%;
  font-weight: norma;
  animation: invalid-animation .4s linear 0.15s 1;
  -webkit-animation: invalid-animation .4s linear 0.15s 1;
  -moz-animation: invalid-animation .4s linear 0.15s 1;
  -ms-animation: invalid-animation .4s linear 0.15s 1; 
}

@keyframes invalid-animation{
   
  0% {
    transform: rotate(-7deg);
  }
  
  35% {
    transform: rotate(7deg);
  }
  
  70% {
    transform: rotate(-7deg);
  }

}

$toolbar-ios-title-font-weight: 500;

.toolbar-title{
  text-transform: uppercase;
  text-align: center;
}

.toolbar-title-md,
.toolbar-title-wp{
  margin-right: 15%;
}


//custom gradient

@mixin gradient-bg{
  background: rgba(181,244,255,1);
  background: -moz-linear-gradient(top, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181,244,255,1)), color-stop(50%, rgba(45,209,227,1)), color-stop(99%, rgba(98,230,245,1)), color-stop(100%, rgba(98,230,245,1)));
  background: -webkit-linear-gradient(top, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
  background: -o-linear-gradient(top, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
  background: -ms-linear-gradient(top, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
  background: linear-gradient(to bottom, rgba(181,244,255,1) 0%, rgba(45,209,227,1) 50%, rgba(98,230,245,1) 99%, rgba(98,230,245,1) 100%);
}


//basic transitions

@mixin basic-transition{
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  transition: all 250ms;
}

//login page style

@mixin home-style{
   
      ion-content{
        @include gradient-bg;
      }

      ion-input .text-input{
        color: white;
        border-bottom: 1px solid white;
        padding: 5% 0%;
      }
 
     form{
 
       .list-ios .item-block .item-inner,
       ion-item .item-md .item-input,
       ion-item .item-ios .item-input,
       .item-block{
         color: white;
         border-top: none;
       }
       
       .list-ios .item-block,
       .list-md .item-block,
       .list-wp .item-block{
         margin-left: 20%;
         border-bottom: none;
         border-top: none;
       }
 
       .item-input .label-md{
         color: white;
       }
 
     }
  
}

//button styles

@mixin button-style{
    border-radius: 7px;
    border: 2px solid map-get($colors, secondary);
    color: map-get($colors, secondary);
    background: white;
    &:hover,
    &:active{
        background: map-get($colors, secondary);
        color: white;
        border: 2px solid white;
        @include basic-transition;
}
}

@mixin home-btn{
  background: white;
  border-radius: 3px;
  color: map-get($colors, primary);
  letter-spacing: 1px;

  &:hover,
  &:active{
    color: map-get($colors, secondary);
    @include basic-transition;
  }
}

@mixin create-btn{
  width: 80%;
  font-size: 130%;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  &:hover,
  &:active{
      background: transparent;
      color: white;
      border: 2px solid white;
      @include basic-transition;
  }
}


//schedule style

@mixin schedule-list{
    ion-list button{
        padding-left: none;
    }

    ion-row{
        height: 80%;
    }

    ion-grid .item .item-block .item-ios{
      height:85%!important;
    }

    ion-grid hr{
      border-bottom: 1px solid map-get($colors, light);
      width: 100%;
      margin-top: 5%;
    }

    .event-time, .event-date{
        background: map-get($colors, primary);
        color: white;
        font-weight: bold;
        border-radius:5px;
        text-align: center;
        font-size: 100%;
        padding: 2% 0%;

        ion-icon{
          bottom: 7%;
        }
    }

    .event-date{
      background:#6DD2DD;
    }

    .event-title{
        background: white;
        color: map-get($colors, text-color);
        font-weight: bold;
        padding: 3%;
        font-size: 95%;
        border: 2px solid map-get($colors, primary);
        border-radius: 5px;
        margin-left:1%;
        overflow-x: hidden;

        span{
          color: rgba(black, .6);
        }
    }
}


// pickers style

.picker-ios .picker-button,
.picker-ios .picker-button.activated,
.picker-md .picker-button,
.picker-md .picker-button.activated
.picker-wp .picker-button,
.picker-wp .picker-button.activated{
  text-transform: uppercase;
  font-size: 110%;
  &:hover,
  &:active{
    color: map-get($colors, secondary);
    @include basic-transition;
  }
}


.picker-columns{
  top: 5%;
  background-color: colors($colors, bg-gray);
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$list-ios-border-color: transparent;

$searchbar-ios-background-color: map-get($colors, secondary);
$searchbar-ios-border-color: transparent;
$searchbar-ios-input-search-icon-color: white;
$searchbar-ios-input-text-color: white;
$searchbar-ios-input-placeholder-color: white;
$searchbar-ios-input-background-color: map-get($colors, secondary);
$searchbar-ios-toolbar-input-background: transparent;

//pickers

$picker-ios-option-text-color: color($colors, secondary);
$picker-ios-toolbar-background-color:  color($colors, bg-gray);
$picker-ios-toolbar-height: 60px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


@mixin shadow-2dp{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin shadow-8dp{
   box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),                   0 3px 14px 2px rgba(0, 0, 0, 0.12),                   0 5px 5px -3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  
}

//default input

$text-input-md-highlight-color-invalid:  none;
$text-input-md-highlight-color-valid:  none;
$text-input-md-show-invalid-highlight: none;
$text-input-md-highlight-color:  none;
$text-input-md-show-valid-highlight:  none;
$label-md-text-color:	none;
$label-md-text-color-focused: none;
$list-md-border-color: transparent;

//search input

$searchbar-md-background-color: transparent;
$searchbar-md-input-search-icon-color: white;
$searchbar-md-input-placeholder-color: white;
$searchbar-md-input-text-color:	white;
$searchbar-md-input-background-color: map-get($colors, secondary);
$searchbar-md-input-border-radius: 5px;
$searchbar-md-input-clear-icon-color: white;
$searchbar-ios-input-clear-icon-color: white;

//pickers

$picker-md-toolbar-height: 60px;
$picker-md-option-text-color: color($colors, secondary);
$picker-md-toolbar-background-color:  color($colors, bg-gray);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

//default input

$input-wp-border-color:none;
$text-input-wp-highlight-color-valid: none;
$text-input-wp-highlight-color-invalid: none;
$text-input-wp-highlight-color:  none;
$label-wp-text-color:	none;
$label-wp-text-color-focused: none;

//search input

$searchbar-wp-background-color: transparent;
$searchbar-wp-border-color: white;
$searchbar-wp-border-color-focused: white;
$searchbar-wp-input-search-icon-color: white;
$searchbar-wp-input-placeholder-color: white;
$searchbar-wp-input-text-color: white;
$searchbar-wp-input-background-color: map-get($colors, secondary);
$searchbar-wp-input-border-radius: 5px;
$searchbar-wp-input-clear-icon-color: white;
$searchbar-wp-input-line-height: 3.5rem;

//pickers

$picker-wp-toolbar-height: 60px;
$picker-wp-option-text-color: color($colors, secondary);
$picker-wp-toolbar-background-color:  color($colors, bg-gray);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// RESPONSIVE DESIGN

// *******************
// TABLET DESIGN START

@media (min-width: 768px) and (max-width: 1024px) {
  
  .invalid-style{
    font-size: 210%;
  }

  ion-nav .toolbar{
    height: 100px;
    
    .toolbar-title{
      font-size: 250%;
    }

    .bar-button{
      height: 60px;
      ion-icon{
        font-size:300%;
        padding-bottom: 10%;
      }
    } 

  }

  .schedule-list{

    ion-row{
      width: 95%!important;
    }

    .event-time, .event-date, .event-title{
      font-size:230%!important;
    }

    .event-title{
      border: 3px solid map-get($colors, primary)!important;
      position: relative;
      left: -1%;
    }

    hr{
      height: 6px!important;
      width: 95%;
      margin: 4% 0% 5% 0%;
      
    }

  }

}
