<ion-header>
    <ion-navbar color="primary">
        <ion-title>RESERVE A ROOM</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="ReserveEventForm">
    <ion-item>
        <ion-label>Title</ion-label>
        <ion-input type="text" placeholder="Title" formControlName="title" [class.invalid]="!ReserveEventForm.controls.title.valid && ReserveEventForm.controls.title.dirty && submitAttempt" [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Day</ion-label>
         <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" formControlName="day" [class.invalid]="!ReserveEventForm.controls.day.valid && ReserveEventForm.controls.day.dirty && submitAttempt" [(ngModel)]="day" [max]="maxDate" [min]="minDate"></ion-datetime> 
    </ion-item>
    <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="HH:mm"  (ionChange)="OnBlurStartTime()" pickerFormat="HH:mm" minuteValues="0,15,30,45" formControlName="startTime" [class.invalid]="!ReserveEventForm.controls.startTime.valid && ReserveEventForm.controls.startTime.dirty && submitAttempt" [(ngModel)]="startTime"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="HH:mm" (ionChange)="OnBlurEndTime()" pickerFormat="HH:mm" minuteValues="0,15,30,45" formControlName="endTime" [class.invalid]="!ReserveEventForm.controls.endTime.valid && ReserveEventForm.controls.endTime.dirty && submitAttempt" [(ngModel)]="endTime"></ion-datetime>
    </ion-item>
</form>
    <ion-buttons text-center id="find-room">
        <button style="margin-top:4%;" large ion-button [disabled]="!ReserveEventForm.valid" (click)="findRoom()">FIND</button>
    </ion-buttons>

    <ion-item [hidden]="shouldHide()" id="choose-room">
        <ion-label>
            <ion-icon color="secondary" name="cube"></ion-icon> &nbsp; CHOOSE ROOM</ion-label>
        <ion-select [(ngModel)]="rooms">
            <label *ngIf="!showRoom">No Room Created</label>
            <span *ngIf="showRoom">
                        <ion-option (ionSelect)="SelectedRoom(r)" *ngFor="let r of ListOfRooms">{{r.name}}</ion-option>
            </span>
        </ion-select>
    </ion-item>

    <button id="add-event" ion-button full icon-left [disabled]="!ReserveEventForm.valid" (click)="save()">ADD EVENT</button>
</ion-content>