page-calendar {

    // shadow-2dp not showing properly on table!!!!

    ion-content{
        @include gradient-bg;
    }

    table[_ngcontent-c1]{
        margin-top: 10%;
        @include shadow-2dp;
        
                &:hover,
                &:active{
                    @include shadow-8dp;
                    @include basic-transition;
                }
    }

    .monthview-datetable[_ngcontent-c1]{
        background: rgba(white, 0.25);
        border: 1px solid rgba(white, 0.5);
        line-height: 30px;
        color: #FFFFFF;

    }

    .table[_ngcontent-c1]    > tbody[_ngcontent-c1]    > tr[_ngcontent-c1]    > td[_ngcontent-c1], .table[_ngcontent-c1]    > tfoot[_ngcontent-c1]    > tr[_ngcontent-c1]    > td[_ngcontent-c1]{
       line-height: 25px;
       border: 1px solid white;
       
    }

    thead[_ngcontent-c1]{
        background:rgba(150, 191, 209, 0.75);
    }

    .text-muted[_ngcontent-c1]{
        color: map-get($colors, secondary-light);
    }

    .ng-reflect-ng-class{
        background:rgba(white, 0.5);
    }

    .monthview-datetable[_ngcontent-c1] td:hover{
        background: rgba(150, 191, 209, 0.2);
        @include basic-transition;
    }

    .monthview-current[_ngcontent-c1]{
        background: rgba(black, 0.1);
    }

    .monthview-selected[_ngcontent-c1]{
        background: rgba(150, 191, 209, 0.5);
        @include basic-transition;
    }

    .monthview-primary-with-event[_ngcontent-c1]{
        background: #EC6868;
    }

    small[_ngcontent-c1]{
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    //events modification

    ion-list[_ngcontent-c0]{
        border-top: none;
        border: 1px solid rgba(white, 0.25);
        margin-top:10%;
        
        .item-ios{
            background: rgba(white, 0.25);
            text-transform: uppercase;
            
            .no-events-label{
                color: rgba(150, 191, 209, 1);
            }
        }

        .item-block:last-child, .list-ios  .item-wrapper:last-child .item-block{
            border-top:none;
            border-bottom:none;
            border: 1px solid rgba(white, 0.25);
        }
    }
}


