page-my-schedule {

    .tabs .tab-button{
        color: map-get($colors, secondary);
        font-weight: bold;
    }

}

// *******************
// TABLET DESIGN START

@media (min-width: 768px) and (max-width: 1024px) {

    page-my-schedule {

        .tabs .tab-button{
            padding: 4% 0%!important;
        }

        .tabs .tab-button-text{
            font-size:200%;
        }

    }
}

// *******************
// TABLET DESIGN END