page-signup {
    #uploadPicture {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    #uploadPicture+label {
        color: white;
        background-color: gray;
        width: 40%;
        padding: 10% 0%;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 2%;
        cursor: pointer;
    }
    #uploadPicture:focus+label,
    #uploadPicture+label:hover {
        background-color: #24C6DC;
        @include basic-transition;
    }
    ion-icon {
        font-size: 5em;
    }
}